@import "tailwindcss";

:root {
  --background: #14e2c4; /* luminous teal */
  --foreground: #020a0a; /* dark bluish-black text contrast */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
